.hp-header {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
}

.hp-header__logo {
    max-width: 100%;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .hp-header__logo {
        height: 100%;
        width: 100%;
    }
}